body {
	font-size: 16px;
	font-family: 'Arima+Madurai', sans-serif;
    background-color: #EAD3A8;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #EAD3A8;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #A52A2A;
}
#header-nav {
	background-color: #A52A2A;
	border-radius: 0;
	border: 0;
	padding-bottom: 5px;
}

.navbar-header > button {
    background-color: #A52A2A;
}
.navbar-header button:hover {
    box-shadow: #EAD3A8 1px 1px;
}
.navbar-brand h1 {
    margin-top: -8px;
    font-family: 'Cherry Cream Soda', cursive;
    color: #EAD3A8;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	text-shadow: 1px 1px 1px #222;
}

#collapsable-nav {
	border: 0;
}

#nav-list {
    background-color: #6E6568;
}
#nav-list > li a:hover, #nav-list > li a:focus {
	color: #FB0;
}
#nav-list > li > a {
	color: #EAD3A8;
}

.panel-body {
	background-color: #A52A2A;
	color: #EAD3A8;
    padding: 0px 0px 0px 10px;
	margin-top: 0;
}


.sectionTitle {
    margin-top: 0;
}

#main-content {
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 768px) {
    .container {
        width:auto;
    }
}

@media (max-width: 767px) {
    #main-content {
        width: 80%;
    }
}
